# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime / env files
.env
.env.*.local

# Build / cache / dist
dist/
build/
.cache/
.parcel-cache/
.next/
.nuxt/

# Coverage
coverage/

# System files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.log
*.tgz
*.gz
